@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  min-height: 300px;
  background-color: #e4acac;
}

.main {
  min-height: 250px;
  background-color: #9fdbb1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer {
  min-height: 250px;
  background-color: #a26bd4;
}

.box {
  width: 150px;
  height: 150px;
  background-color: red;
  margin-bottom: 30px;
}

button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  outline: none;
  margin-bottom: 30px;
}

#current {
  width: 300px;
  height: 300px;
}
