@import "_nullstyle.scss"; // Outline в обнулении

// !! АДАПТИВНЫЙ ШРИФТ

$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid red;
}
button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: yellow;
    border: none;
}
