@import "_nullstyle.scss"; // Outline в обнулении

// !! АДАПТИВНЫЙ ШРИФТ

$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.wrapper {
}
.header {
    min-height: 300px;
    background-color: rgb(228, 172, 172);
}
.main {
    min-height: 250px;
    background-color: rgb(159, 219, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & input {
        width: 300px;
        height: 50px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.footer {
    min-height: 250px;
    background-color: rgb(162, 107, 212);
}

.box {
    width: 150px;
    height: 150px;
    background-color: red;
    margin-bottom: 30px;
}
button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-bottom: 30px;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: blue;
    display: block;
    margin-top: 10px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.heart {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.black {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #fff;
}
